@font-face {
    font-family: "Epilogue";
    src: local("Epilogue-SemiBold"),
        url("../fonts/Epilogue/Epilogue-SemiBold.woff2") format("woff2"),
        url("../fonts/Epilogue/Epilogue-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Epilogue";
    src: local("Epilogue-Regular"),
        url("../fonts/Epilogue/Epilogue-Regular.woff2") format("woff2"),
        url("../fonts/Epilogue/Epilogue-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mulish-Bold";
    src: local("Mulish-Bold"),
        url("../fonts/Mulish/Mulish-Bold.woff2") format("woff2"),
        url("../fonts/Mulish/Mulish-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mulish-SemiBold";
    src: local("Mulish-SemiBold"),
        url("../fonts/Mulish/Mulish-SemiBold.woff2") format("woff2"),
        url("../fonts/Mulish/Mulish-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mulish-Regular";
    src: local("Mulish-Regular"),
        url("../fonts/Mulish/Mulish-Regular.woff2") format("woff2"),
        url("../fonts/Mulish/Mulish-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #2D2D2D;
}

li {
    list-style-type: none;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    margin: 0 auto;
    padding: 27px 0 27px 0;
}

.logo {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.nav-list {
    display: flex;
    margin-left: auto;
}

.nav-item {
    margin-right: 50px;
}

.nav-link {
    font-family: 'Epilogue';
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #2D2D2D;
    border-bottom: 1px solid #2D2D2D;
}

/* HERO CONTAINER */

.hero {
    display: flex;
    padding: 78px 0;
}

.hero-left {
    width: 465px;
    margin-right: 130px;
}

.hero-subtitle {
    padding-top: 88px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.hero-header {
    margin-bottom: 50px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 102px;
}

.hero-descr {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}

.hero-right {
    position: relative;
}

.hero-photo {
    position: relative;
    left: 63px;
    width: 409px;
    height: 550px;
}

.rectangle-red {
    position: absolute;
    top: -10px;
    right: 0;
    bottom: 0;
    left: 360px;
}

.rectangle-green {
    position: absolute;
    top: 355px;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-arrow-01 {
    position: absolute;
    top: 464px;
    right: 0;
    bottom: 0;
    left: 415px;
    transform: rotate(45deg);
}

.hero-arrow-02 {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 80px;
    transform: rotate(90deg);
}

.clients {
    padding: 67px 100px;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-list {
    display: flex;
    justify-content: space-between;
}

.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 330px;
    padding: 60px 40px;
}

.skills-header {
    margin-bottom: 19px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 42px;
}

.skills-descr {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
}

.skills-image {
    position: relative;
    margin-bottom: 58px;
}

.skills-arrow-01 {
    position: absolute;
    top: 73px;
    right: 0;
    bottom: 0;
    left: 0;
}

.skills-arrow-02 {
    position: absolute;
    top: 13.7px;
    right: 0;
    bottom: 0;
    left: 74px;
}

.skills-arrow-03 {
    position: absolute;
    top: 42px;
    right: 0;
    bottom: 0;
    left: 36px;
}

/* GALLERY */

.gallery-header {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 56px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    margin-right: 45px;
    margin-bottom: 60px;
}

.gallery-item:nth-child(3n) {
    margin-right: 0;
}

.gallery-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.gallery-photo {
    margin-bottom: 25px;
}

.gallery-header-small {
    margin-bottom: 10px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.gallery-descr {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}

/* TESTMONIALS */

.testmonials-list {
    display: flex;
}

.testmonials-item {
    padding: 25px;
    background-color: #F3F3F3;
    margin-right: 45px;
}

.testmonials-item:nth-child(3n) {
    margin-right: 0;
}

.testmonials-photo {
    border-radius: 50%;
}

.testmonials-header {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 33px;
}

.testmonials-descr {
    margin-bottom: 139px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.testmonials-name {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}

.testmonials-company {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}